@import url("https://fonts.googleapis.com/css?family=Montserrat:700&display=swap");


.body {
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
}

.container {
    background-color: hsl(240, 78%, 98%);
    color: hsl(232, 13%, 33%);
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: "Montserrat", sans-serif;
    text-align: center;
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: 25%, 20%;
    width: 100%;
    background-image: url('./images/bg-top.svg'), url('./images/bg-bottom.svg');
    background-position: top right, bottom left;
    padding-bottom:4.3rem;
    font-weight: 700;
}
.plan-switch {
    margin: 3rem 4rem;
}


.switch {
    position: relative;
    display: inline-block;
    width: 4rem;
    height: 2rem;
    margin: 0 1rem;
}

.slider {
    background: linear-gradient(to right, hsl(236, 72%, 79%), hsl(237, 63%, 64%));
    position: absolute;
    cursor: pointer;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #ccc;
    transition: 0.4s;
    border-radius: 22px;
}

.switch input {
    display: none;
}

.slider:hover {
    background: hsl(236, 66%, 84%);
}

.slider:before {
    position: absolute;
    content: "";
    height: 27px;
    width: 27px;
    left: 8%;
    bottom: 9%;
    background-color: white;
    transition: 0.4s;
    border-radius: 50%;
}

input:checked+.slider:before {
    transform: translateX(100%);
}

.plan {
    font-family: "Montserrat", sans-serif;
    font-size: 1rem;
    margin-top: 1rem;
    color: hsl(234, 14%, 74%);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem 0 1rem 0;
}

.plans {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 61.5em;
}

.plan1,
.plan3 {
    flex: 1;
    height: 20rem;
    background-color: white;
    padding: 0.2% 2.5% 8% 2.5%;
}


.plan2 {
    color: #F6F6FE;
    padding: 3.4% 2.5% 1.5% 2.5%;
    background: linear-gradient(to bottom, hsl(236, 72%, 79%), hsl(237, 63%, 64%));
    flex: 1;
    height: 26rem;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.13);
}

.plan1 {
    border-radius: 10px 0 0 10px;
    box-shadow: 1rem 0 1.2rem rgba(0, 0, 0, 0.13);
}

.plan3 {
    border-radius: 0 10px 10px 0;
    box-shadow: 5px 0 10px rgba(0, 0, 0, 0.13);

}

.dollar {
    font-size: 2rem;
}

.price {
    font-size: 3.9rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.plan1 .plan-name,.plan3 .plan-name, p{
    font-size: 0.9rem;
    color:#848282;
}
.plan2 p{
    color: #F6F6FE;
}

button {
    border: 1px solid hsl(236, 72%, 79%);
    border-radius: 5px;
    margin: 15px 5px;
    width: 100%;
    height: 40px;
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
    font-size: 0.7rem;
    cursor: pointer;
}

.side-btn {
    background-color: hsl(236, 72%, 65%);
    color: #fff;
}

.middle-btn {
    width: 95%;
    background: #fff;
    color: hsl(236, 72%, 65%);
}

.side-btn:hover {
    background-image: none;
    border: 1px solid hsl(237, 63%, 64%);
    background-color: #fff;
    color: hsl(237, 63%, 64%);
}

/* bottom "learn more" button for middle plan*/

.middle-btn:hover {
    background-color: transparent;
    color: white;
    border: 1px solid white;
}

.plan-name {
    font-style: normal;
    margin: 0 0 25px 0;
}


h1 {
    margin-top: 1em;
    font-size: 1.8rem;
    color: hsl(233, 13%, 49%);
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 0.95em 0;
    padding: 0;
}


@media  screen and  (max-width: 500px) {
    html { overflow-y: scroll; }
    body {
        margin:0;
        width: 100%;
        display:flex;
        flex-direction: column;
        overflow: hidden;
    }

    .container {
        background-image: url('./images/bg-top.svg');
        background-repeat: no-repeat;
        background-position: 200px -50px;
        background-size: 100%;
        
    }
    
    .plans {
        margin-bottom: 50px;
        display: flex;
        flex-direction: column;
        gap: 5rem;
        align-items: center;
        margin:5px;
    }

    .plans {
        width: 50%;
    }

    hr {
        margin: 1.5em 0;
    }

    .plan2,
    .plan1,
    .plan3 {
        border-radius: 0.5rem;
        width: 15rem;
        height: auto;
        padding: 10%;
    }

    .plan2 {
        padding-bottom: 25%;
    }
}